<div
  class="fixed inset-0 z-50 flex items-center justify-center"
  *ngIf="showDialog"
>
  <div class="bg-white rounded-2xl p-6 w-full max-w-md shadow-xl flex flex-col">
    <div class="mt-1">
      <label for="expenseDescription">Description: </label>
      <input type="text" class="bg-gray-100 rounded">
    </div>

    <div class="mt-1">
      <label for="amount">Amount: </label>
      <input type="number" class="bg-gray-100 rounded">
    </div>

    <div class="flex justify-center gap-2 mt-1">
      <button
        class="px-4 py-2 bg-gray-300 text-black rounded hover:bg-gray-400"
        (click)="onClose()"
      >
        Cancel
      </button>
      <button
        class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700"
        (click)="onClose()"
      >
        Confirm
      </button>
    </div>
  </div>
</div>
